<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427621440578-uebqtma461ggod6etddkhqpvfqmuhnv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427621440578-uebqtma461ggod6etddkhqpvfqmuhnv6</string>
	<key>API_KEY</key>
	<string>AIzaSyDQFnr5TmGooGEfvrNbYoDOpKAGeEIbUIs</string>
	<key>GCM_SENDER_ID</key>
	<string>427621440578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bpk.light.worktracker</string>
	<key>PROJECT_ID</key>
	<string>worktracker-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>worktracker-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427621440578:ios:e5f4793a23e175479721db</string>
	<key>DATABASE_URL</key>
	<string>https://worktracker-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>